@model List<Education>
@{ ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml"; }

<br />
<table class="table table-hover">
    <tr>
        <th>#</th>
        <th> Bölüm</th>
        <th> Okul</th>
        <th> AGNO</th>
        <th> Tarih</th>
        <th> Güncelle</th>




    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <th>@item.EducationId</th>
            <th>@item.SubTitle</th>
            <td>@item.Title</td>

            <th>@item.NoteAverage</th>
            <td>@item.Date</td>


            <td><a href="/AdminEducation/EducationUpdate/@item.EducationId" class="btn btn-outline-warning"><b>Güncelle</b></a></td>



        </tr>
}

</table>
<br />
<a href="/AdminEducation/AddEducation" class="btn btn-outline-dark"> <b>Egitim Ekle</b></a>
<br />

